.Home__title {
  font-weight: 600;
  font-size: 32px;

  @media screen and (max-width: 768px) {
    text-align: left;
    margin-left: 12px;
  }
}

.Home__text {
  @media screen and (max-width: 768px) {
    width: 350px;
  }
}

.tab {
  width: 300px !important;
}

.tabs-underlined {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px;
  opacity: 0.4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #4dc942;
  color: #4dc942;
}
