.header {
  display: flex;
  justify-content: space-between;
  width: 25%;

  @media screen and (max-width: 768px) {
    // margin-left: 15px;
    width: 300px;
    margin-bottom: 60px;
  }
}

.container__left {
  margin-top: 150px;
  width: 600px;
  float: left;
  z-index: 1;
  justify-content: center;

  @media screen and (max-width: 768px) {
    width: 300px;
    // margin-top: 80px;S
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }

  &__title {
    font-family: poppins;
    font-size: 52px;
    width: auto;
    font-weight: 500;

    &__green {
      color: #4dc942;
      text-decoration: underline #4dc942;

      &--not {
        color: #4dc942;
        text-decoration: display;
      }
    }

    @media screen and (max-width: 100%) {
      &__title {
        margin-top: 200px;
      }
    }

    @media screen and (max-width: 768px) {
      font-size: 36px;
    }

    @media screen and (max-width: 576px) {
      font-size: 30px;
      text-align: left !important;
    }
  }

  &__text {
    @media screen and (min-width: 992px) {
      width: 50%;
    }

    @media screen and (min-width: 768px) {
      width: 500px;
      text-align: left !important;
      font-size: 22px;
    }

    span {
      font-weight: 700;
    }
  }
}

.container__Right {
  &__img {
    height: 90%;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;

    @media screen and (max-width: 1200px) {
      width: 40%;
      height: 70%;
    }

    @media screen and (max-width: 760px) {
      position: relative;
      width: 0%;
      margin: 20px;
    }
    @media screen and (max-width: 768px) {
      width: 0% !important;
    }
  }
}

.btn_contact {
  width: 250px;
  height: 70px;
  border-radius: 10px;
  background-color: black;

  @media screen and (max-width: 500px) {
    width: 150px;
    height: 50px;
  }

  &__text {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;

    @media screen and (max-width: 500px) {
      margin-top: -18px;
      font-size: 16px;
    }
  }
}

.blocText {
  font-family: poppins;
  font-size: 24px;
  width: 640px;
  margin: 30px 0px 30px 0px;
  text-align: justify;

  @media screen and (max-width: 576px) {
    width: 320px;
    margin: 10px;
  }

  &__title {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 500;
    font-family: popins;
  }

  &__text {
    font-size: 20px !important;
    margin-bottom: 30px;
    font-family: popins;

    &__subtext {
      text-align: left !important;
      width: 300px;
      margin-left: -15px;
    }
  }
}
