.header {
  display: flex;
  height: 95vh;
  justify-content: space-between;
  width: 1320px;

  @media screen and (max-width: 768px) {
    margin-left: 15px;
    width: 300px;
    margin-bottom: 60px;
  }
}

.container__left {
  width: 600px;
  z-index: 1;
  position: fixed;
  top: 15%;
  left: 10%;
  // margin: 20px;

  @media screen and (max-width: 768px) {
    left: 5% !important;
  }

  @media screen and (max-width: 536px) {
    margin: 0;
  }

  &__title {
    font-family: poppins;
    font-size: 52px;
    width: auto;
    font-weight: 500;

    &__green {
      color: #4dc942;
      text-decoration: underline #4dc942;

      &--not {
        color: #4dc942;
        text-decoration: display;
      }
    }

    @media screen and (max-width: 768px) {
      font-size: 48px;
    }

    @media screen and (max-width: 576px) {
      font-size: 32px;
    }
  }

  &__text {
    font-family: poppins;
    font-size: 24px;
    width: 800px;
    margin: 30px 0px 30px 0px;
    text-align: justify;

    &__green {
      color: #4dc942;
      text-decoration: underline #4dc942;

      &--not {
        color: #4dc942;
        text-decoration: display;
      }
    }

    @media screen and (max-width: 1200px) {
      width: 700px;
    }

    @media screen and (max-width: 768px) {
      width: 400px;
      font-size: 20px;
    }

    @media screen and (max-width: 536px) {
      width: 320px !important;
      font-size: 20px;
    }

    span {
      font-weight: 700;
    }
  }
}

.btn_contact {
  width: 250px;
  height: 70px;
  border-radius: 10px;
  border-color: black;

  @media screen and (max-width: 500px) {
    width: 150px;
    height: 40px;
    margin-top: -30px !important;
  }

  &__text {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;

    @media screen and (max-width: 500px) {
      font-size: 16px;
    }
  }
}

.container__Right {
  display: flex;

  &__img {
    height: 70%;
    position: absolute;
    top: 0;
    width: 40%;
    right: 0;

    @media screen and (max-width: 840px) {
      width: 0%;
      height: 0;
    }
  }
}
