.header {
  display: flex;
  justify-content: space-between;
  margin: 50px;

  @media screen and (max-width: 768px) {
    margin: 15px;
    width: 300px;
  }
}

.container__left {
  width: 400px;
  float: left;
  margin-top: 100px;
  z-index: 1;
  justify-content: center;
  margin: 20px;

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    flex-direction: column;
    width: 324px;
  }

  &__title {
    font-family: poppins;
    font-size: 52px;
    width: 560px;
    margin-top: 50px;
    font-weight: 500;

    &__green {
      color: #42b983;
      text-decoration: underline #42b983;

      &--not {
        color: #42b983;
        text-decoration: display;
      }
    }

    @media screen and (max-width: 768px) {
      margin-top: 70px;
      font-size: 36px;    
    }
  }

  &__text {   
    @media screen and (min-width: 992px) {
      width: 600px; 
    }
    
    @media screen and (min-width: 768px) {
      width: 500px;
      text-align: left !important;
      margin-top: 50px;
      text-align: center;
      font-size: 22px;
    }

    @media screen and (min-width: 576px) {

    }

    span {
      font-weight: 700;
    }
  }
}

.contact {
  width: 250px;
  height: 70px;
  border-radius: 10px;
  background-color: black;
  margin-top: 18px;

  @media screen and (max-width: 500px) {
    width: 150px;
    height: 40px;
  }

  &__text {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;

    @media screen and (max-width: 500px) {
      font-size: 16px;
    }
  }
}

.container__Right {
  &__img {
    height: 90%;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;

    @media screen and (max-width: 1200px) {
      width: 60%;
      height: 80%;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
