// /* Main navbar */
.navbar-lemurian {
  background: transparent;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: right;
  position: fixed;
  z-index: 600;
  width: 90%;

  @media (max-width: 768px) {
    background: white;
    font-size: 20px;
  }
}

/* Logo */
.navbar-lemurian-brand img {
  height: 60px;
  position: fixed;
  top: 8px;
  left: 15px;
}

/* User Avatar */
.navbar-lemurian .avatar {
  position: fixed;
  top: 25px;
  left: 52px;
  font-family: poppins;
  font-size: 32px;
  color: black;
  font-weight: bold;

  @media (max-width: 768px) {
    font-weight: 600;
    font-size: 24px;
  }
}

/* Basic navbar item */
.navbar-lemurian-item {
  padding: 0 10px;
  text-decoration: none;
}

/* Navbar link */
.navbar-lemurian-link {
  color: black;
  font-size: 14px;
  cursor: pointer;
}
.navbar-lemurian-link:hover {
  color: #42b983;
  text-decoration: none;
}

.navbar-link {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 10px;
  text-decoration: none;
  color: white;
  font-size: 24px;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}
.navbar-link:hover {
  color: #da552f;
  text-decoration: none;
}
.navbar-link:visited {
  outline: 0;
  color: white;
  text-decoration: none;
}
.navbar-link:focus {
  color: white;
  outline: 0;
  text-decoration: none;
}
.navbar-dropdown {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 10px;
  text-decoration: none;
  color: white;
}

.navbar-dropdown-menu {
  margin-top: 15px;
  border-color: #e6e6e6;
}

.navbar-dropdown-menu > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  font-size: 10px !important;
  line-height: 22px !important;
  padding: 0px 15px;
  display: flex;
}

.navbar-dropdown-menu > a:hover {
  background: transparent !important;
  color: black !important;
}

.navbar-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
}

/* Hamburger Styling */
.hamburger {
  position: absolute;
  width: 30px;
  height: 25px;
  top: 21px;
  right: 15px;
  z-index: 5;
}

.hamburger div {
  position: relative;
  width: 30px;
  height: 2px;
  background-color: black;
  margin-top: 7px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#toggle {
  display: none;
}

/* Hamburger Animation */
#toggle:checked + .hamburger .top {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 22.5px;
  background-color: black;
}

#toggle:checked + .hamburger .meat {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -2px;
  background-color: black;
}

#toggle:checked + .hamburger .bottom {
  -webkit-transform: scale(0);
  transform: scale(0);
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  background-color: rgba(74, 167, 159, 0.9);
}

/* Menu Styling */
.nav {
  z-index: 1;
  position: fixed;
  width: 50%;
  height: 100%;
  top: -100%;
  right: 0;
  bottom: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  @media (max-width: 768px) {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }
}

.nav .nav-wrapper {
  position: relative;
  z-index: 500;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

nav {
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

nav a {
  width: 100%;
  padding: 10px 0;
  margin-top: 15px;
  color: #eee;
  font-weight: bold;
  opacity: 0;
  text-decoration: none;
  font-size: 2.3em;
  letter-spacing: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav a:hover {
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav a:first-child {
  margin-top: 0;
}

/* Dropdown Animation */
#toggle:checked + .hamburger + .nav .nav-wrapper nav a {
  opacity: 0.9;
  -webkit-transform: scale(1);
  transform: scale(1);
}
