.blocText {
  // width: 330px;
  font-size: 24px;
  font-family: popins !important;
  text-align: justify;

  @media screen and (max-width: 576px) {
    width: 320px;
    font-size: 18px;
    margin: 10px;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 20px;
    margin-bottom: 30px;
  }
}
